@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@300;600&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: 'Poppins' , sans-serif;
    overflow-x: hidden;
}
/* Animation de bulles en arrière-plan */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: radial=gradient(circle at 50% 50%, #1a1a1a, #000);
    z-index: -2;
}
header {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #111 0%, #ff0000 150%);
    border-bottom: 4px solid #ff0000;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
h1 {
    font-family: 'Orbitron', sans-serif; /* Police style compteur auto */
    font-size: 3.5rem;
    color: #ff0000; /*rouge ferrari */
    margin: 10px 0;
    text-transform: uppercase;
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #ff0000;
    box-shadow: 0 0 20px #ff0000; /* Effet néon */
}
.profile-pic:hover {
    transform: scale(1.1) rotate(5deg); /*la photo bouge au survol */
}
section {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    backdrop-filter: blur(10px); /* effet verre dépoli */
    border: 1px solid rgba(255, 0, 0, 0.2);
}
h2 {
    font-family: 'Orbitron', sans-serif;
    color: #ff0000;
    text-transform: uppercase;
}
/* Style des bulles interactives */
.skill-item {
    background: #ff0000;
    color: white;
    padding: 15px 25px;
    border-radius: 50px; /* Forme de bulle / Pilule */
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer.
    border: none;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
}
.skill-item:hover {
    transform: translateY(-10px);
    background: #ffffff;
    color: #ff0000;
    box-shadow: 0 10px 25px #ff0000;
}
.skill-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
footer a {
    color: #ff0000; /* Le rouge Ferrari */
    text-shadow: 0 0 5px #ff0000; /* Petit effet néon */
}
/* Le bouton Ferrari */
.btn {
    display: inline-block;
    background-color: #ff2800;
    color: #ffffff !important;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #b31d00;
    transform: scale(1.05);
}
